*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #020312;
    --text-color: #fff;
    --main-color: #gray;
    --other-color: #12141c;
    --h1-font: 5.2rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color)
}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 16%;
    border-bottom: 1px solid transparent;
    transition: all .40 ease;
}
.logo img{
    width: 135px;
    height: auto;
}
.navbar{ 
    display: flex;
}
.navbar a{
    color: white;
    font-size: var(--p-font);
    font-weight: 600;
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: 20px;
    transition: .3s;
}
.navbar a:hover{
    background-color: rgb(139, 127, 20);
    color: white;
}
#menu-icon{
    font-size: 36px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 160px 16% 90px;
}
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(imagens/impostor.jpg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home-text h1{
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
}
span{
    color: #69680a;
}
.home-text h4{
    color:#69680a;
    font-size: 24px;
    font-weight: 600;
}
.home-text h3{
    font-size: 24px;
    font-weight: 600;
    margin: 3rem;
}
.bnt{
    display: inline-block;
    padding: 14px 40px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 500;
    background-color:#69680a;
    color: white;
    border: 1px solid var(--main-color) ;
    transition: all .40s ease;
}
.bnt:hover{
    transform: scale(1.05) translateY(-5px);
    background: transparent;
    border: 1px solid var(--main-color) ;
}

.about{
    background-color: rgb(0,0,0);
}

header.sticky{
    padding: 10px 16%;
    background-color: #000000;
    border-bottom: 1px solid  #1a1911;
    transition: .3s;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
} 
.about-text h4{
    margin: 0dvb10px 0;
    color: #69680a;
    font-size: 20px;
    font-weight: 600;
}   
.about-text h2{
    font-size: 40px;
}
.about-text p{
    color: rgb(128, 120, 128);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}
.about-gri{
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(250px, auto));
    align-items: center;
    gap: 1rem;
}
.about-in h5{
    font-size: 22px;
    font-weight: 600;
}.about-img img{
    height: auto;
    width: 100%;
    max-width: 460px;
}

.main-text{
    text-align: center;
}
.main-text h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;
}
.main-text h4{
    color:  #69680a;
    font-size: 25px;
    font-weight: 600;
}
.services-content{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 30px;
}
.box{
    padding: 45px;
    background: #12141c;
    border-top: 5px solid transparent;
    border-radius: 0.5rem;
    transition: all .40s ease;
    cursor: pointer;
}
.box h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
}
.box p{
    color: rgb(128, 120, 128) ;
    font-size: var(--p-font);
    line-height: 30px;
}
.services-content :hover{
    transform: scale(1.05) translateY(-5px);
    border-top: 3px solid #9f93b9;
}
.box :hover{
    color: #69680a;
}

    .portifolio-content{
       
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        gap: 2rem;
        margin-top: 5rem;
        
    }   
    .row img{
        height: auto;
        width: 100%;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
    }
    .row{
        padding: 25px;
        background-color: #12141c;
        border-radius: 0.5rem;
        transition: all .40s ease;
    }